* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

/* Layout */
.dashboard {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 230px;
    background: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
}

.sidebar a:hover {
    background: #34495e;
}

/* Main */
.main-content {
    flex: 1;
    padding: 30px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
}

.card-box {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}


/* LOGIN & SIGNUP UI */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card */
.card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* Inputs */
.card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Button */
.card button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #218838;
}

/* Links */
.card a {
    display: block;
    margin-top: 10px;
    color: #007bff;
}